<div id="message">
  <table (mouseover)="updateServer()">
    <tr>
      <td>{{message}} {{username}}</td>
    </tr>
    <tr *ngIf="server === 'mysql'">
      <td>
        <textarea type="text" placeholder="Enter quote" id="myQuote" rows="4"></textarea>
      </td>
    </tr>
    <tr>
      <td>
        <input 
          *ngIf="server === 'mysql'"
          type="button" 
          value="Update Quote" 
          (click)="updateQuote($event)" 
          class="button" 
        />
        <a routerLink="/logout" class="button">Logout</a> 
      </td>
    </tr>
  </table>
</div>