<nav class="navbar">
  <select (change)="runExample($event)">
    <option *ngFor="let example of examples;" [value]="example.action">{{example.description}}</option>
  </select> 
  <a href="#">Angular Components</a>
</nav>
<app-card *ngIf="showFirstApp"></app-card>
<app-bootstrap-samples *ngIf="showBootstrapSample"></app-bootstrap-samples>
<app-icon-examples *ngIf="showIcons"></app-icon-examples>
<app-navbar *ngIf="showNavbar" [runExample]="childExample"></app-navbar>
<app-route-bar *ngIf="showRoutes"></app-route-bar>