<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
  <a 
    href="#" 
    class="navbar-brand" 
    *ngIf="!['events-card', 'forms-card', 'directives-card', 
      'pipes-card', 'user-list'].includes(runExample)"
  >Angular with {{title}}</a>
  <div 
    class="collapse navbar-collapse" 
    id="navbarSupportedContent"
    *ngIf="['events-card', 'forms-card', 'directives-card', 
      'pipes-card', 'user-list'].includes(runExample)"
  >
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item dropdown">
        <a 
          href="#" 
          class="nav-link dropdown-toggle" 
          id="navbarDropdown" 
          role="button" 
          data-bs-toggle="dropdown" 
          aria-expanded="false"
        >
          Angular with {{title}}
        </a>
        <ul 
          class="dropdown-menu navbar-dark bg-dark" 
          aria-labelledby="navbarDropdown"
          *ngIf="runExample == 'events-card'"
        >
          <li *ngFor="let event of events">
            <a href="#" class="dropdown-item" (click)="childExample = event.value">
              {{event.text}}
            </a>
          </li>
        </ul>
        <ul 
          class="dropdown-menu navbar-dark bg-dark" 
          aria-labelledby="navbarDropdown"
          *ngIf="runExample == 'forms-card'"
        >
          <li *ngFor="let form of forms">
            <a href="#" class="dropdown-item" (click)="childExample = form.value">
            {{form.text}}
            </a>
          </li>
        </ul>
        <ul 
          class="dropdown-menu navbar-dark bg-dark" 
          aria-labelledby="navbarDropdown"
          *ngIf="runExample == 'directives-card'"
        >
          <li *ngFor="let directive of directives">
            <a href="#" class="dropdown-item" (click)="childExample = directive.value">
            {{directive.text}}
            </a>
          </li>
        </ul>
        <ul 
          class="dropdown-menu navbar-dark bg-dark" 
          aria-labelledby="navbarDropdown"
          *ngIf="runExample == 'pipes-card'"
        >
          <li *ngFor="let pipe of pipes">
            <a href="#" class="dropdown-item" (click)="childExample = pipe.value">
            {{pipe.text}}
            </a>
          </li>
        </ul>
        <ul 
          class="dropdown-menu navbar-dark bg-dark" 
          aria-labelledby="navbarDropdown"
          *ngIf="runExample == 'user-list'"
        >
          <li *ngFor="let server of servers">
            <a href="#" class="dropdown-item" (click)="childExample = server.value">
            {{server.text}}
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
<app-bootstrap-card *ngIf="runExample == 'bootstrap-card'"></app-bootstrap-card> 
<app-data-card *ngIf="runExample == 'data-card'"></app-data-card> 
<app-events-card 
  *ngIf="runExample == 'events-card'" 
  [getExample]="childExample"
></app-events-card> 
<app-forms-card 
  *ngIf="runExample == 'forms-card'"
  [getExample]="childExample"
></app-forms-card>
<app-directives-card 
  *ngIf="runExample == 'directives-card'"
  [getExample]="childExample"
></app-directives-card>
<app-pipes-card 
  *ngIf="runExample == 'pipes-card'"
  [getExample]="childExample"
></app-pipes-card> 
<app-user-list 
  *ngIf="runExample == 'user-list' && !['', 'Contacts'].includes(childExample)"
  [getExample]="childExample"
></app-user-list> 
<app-contact-app
*ngIf="childExample == 'Contacts'"
></app-contact-app>