<section class="mt-3">
  <div class="container">
    <div class="row">
      <div class="col">
        <p class="h3 text-danger">Shopping Cart</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam dolorem pariatur vel ducimus tempora delectus doloribus, corrupti porro commodi accusantium!</p>
      </div>
    </div>
  </div>
</section>
<section class="mt-3">
  <div class="container">
    <div class="row">
      <div class="col-md-3" *ngFor="let product of products">
        <div class="card shadow-lg" *ngIf="getExample == 'Inline'">
          <div class="card-header">
            <img [src]="product.image" alt="" class="img-fluid" />
          </div>
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item">
                Name: {{product.name}}
              </li>
              <li class="list-group-item">
                Price: {{product.price | currency: 'GBP'}}
              </li>
              <li class="list-group-item">
                Qty: {{product.qty}}
              </li>
            </ul>
          </div>
        </div>
        <app-product *ngIf="getExample == 'Modular'" [product]="product"></app-product>
      </div>
    </div>
  </div>
</section>