<div class="landing-page">
  <div class="wrapper">
    <div class="d-flex flex-column justify-content-center align-content-center 
      text-center h-100"
    >
      <h5 class="display-2">Angular Routing</h5>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit nam assumenda at rem ad, perferendis nihil animi sequi consectetur? Qui, placeat, sit vel deleniti aut quo non in ducimus quas dolore temporibus expedita sint autem ut rerum reprehenderit velit iste.</p>
    </div>
  </div>
</div>