<section class="mt-3" *ngIf="['Counter', 'Message'].includes(getExample)">
  <div class="container">
    <div class="row">
      <div class="col-md-4" *ngIf="getExample == 'Counter'">
        <div class="card">
          <div class="card-header bg-secondary text-white">
            <p class="h4">Counter</p>
          </div>
          <div class="card-body">
            <p class="h2">{{count}}</p>
            <button 
              class="btn btn-success btn-sm" 
              (click)="incrCounter()"
            >Increment</button>
            <button 
              class="btn btn-danger btn-sm" 
              (click)="decrCounter()"
            >Decrement</button>
          </div>
        </div>
      </div>
      <div class="col-md-6" *ngIf="getExample == 'Message'">
        <div class="card">
          <div class="card-header bg-secondary text-white">
            <p class="h4">Wish Message</p>
          </div>
          <div class="card-body">
            <p class="h2">{{message}}</p>
            <button 
              class="btn btn-success btn-sm" 
              (click)="updateMessage('Morning')"
            >Good Morning</button>
            <button 
              class="btn btn-warning btn-sm" 
              (click)="updateMessage('Afternoon')"
            >Good Afternoon</button>
            <button 
              class="btn btn-danger btn-sm" 
              (click)="updateMessage('Evening')"
            >Good Evening</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-product-item *ngIf="getExample == 'Product'"></app-product-item>
<app-shopping-cart *ngIf="getExample == 'Shopping'"></app-shopping-cart>