.split {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.gutter {
  background: #000;
  opacity: 0.2;
  z-index: 1;
  -moz-box-sizing: border-box;
  --webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}
.gutter:hover {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}
.gutter.horizontal {
  height: 11px;
  margin: -5px 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
}
.gutter.horizontal:hover {
  border-top: 5px solid rgba(0, 0, 0, 0.5);
  border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}
.gutter.vertical {
  width: 11px;
  margin: -5px 0;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
}
.gutter.vertical:hover {
  border-left: 5px solid rgba(0, 0, 0, 0.5);
  border-right: 5px solid rgba(0, 0, 0, 0.5);
}
.gutter.disabled {
  cursor: not-allowed;
}
.gutter.disabled:hover {
  border-color: transparent;
}
.pane {
  overflow: auto;
}
.pane.sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.sidebar--header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.sidebar--header h3 {
  font-size: 1.75rem;
}
.sidebar--header button {
  max-height: 50px;
  margin-left: 5px;
  font-size: 20px;
}
.title.selected-note, .sidebar--header button {
  background-color: rgb(64, 45, 99);
  color: white;
}
.title, .title.selected-note {
  display: flex;
  align-items: center;
  padding-left: 10px;
}
.pane.editor {
  display: flex;
  flex-direction: column;
}
.pane-editor.pane-blank::before {
  font-size: 1.3em;
  font-weight: 100;
}
.mde-header {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.mde-tabs {
  display: flex;
  flex-direction: row;
  align-content: space-between;
}
.mde-tabs button {
  margin-right: 10px;
}
.mde-header-group {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  max-width: 25%;
  padding: 5px;
  height: 5vh;
}
.mde-header-group button {
  max-width: 30px;
  background-color: transparent;
  border: none;
}
.mde-text {
  width: 100%;
  border: none;
  font-size: 12pt;
}
.delete-btn {
  display: none;
  background: none;
  border: none;
}
.title:hover .delete-btn {
  display: block;
}
.trash-icon {
  cursor: pointer;
}
.gg-trash {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 10px;
  height: 12px;
  border: 2px solid transparent;
  box-shadow: 
    0 0 0 2px, 
    inset -2px 0 0, 
    inset 2px 0 0;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  margin-top: 4px;
}
.gg-trash::after, .gg-trash::before {
  content: '';
  display: block;
  box-sizing: border-box;
  position: absolute;
}
.gg-trash::after {
  background: currentColor;
  border-radius: 3px;
  width: 16px;
  height: 2px;
  top: -4px;
  left: -5px;
}
.gg-trash::before {
  width: 10px;
  height: 4px;
  border: 2px solid;
  border-bottom: transparent;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  top: -7px;
}
.invisible {
  display: none;
}